{% set url="/ideas/" %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ lang.title }}</title>
    <link rel="stylesheet" href="{{ url }}public/css/style.css">
    <link rel="stylesheet" href="{{ url }}public/css/bootstrap.min.css">
    {#<link rel="stylesheet" href="{{ url }}public/js/bootstrap.min.js">#}

    <link rel="stylesheet" media="only all and (max-width: 660px)" href="{{ url }}public/css/device/mobile.css">
    <link rel="stylesheet" media="only all and (min-width: 661px) and (max-width: 716px)"
          href="{{ url }}public/css/device/tablet/tablet_min_width.css">
    <link rel="stylesheet" media="only all and (min-width: 717px) and (max-width: 899px)"
          href="{{ url }}public/css/device/tablet/tablet.css">
    <link rel="stylesheet" media="only all and (min-width: 900px) and (max-width: 2000px)"
          href="{{ url }}public/css/device/desktop.css">

    <link rel="stylesheet" href="{{url}}public/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <script src="{{ url }}public/js/jquery.min.js"></script>
    <script src="{{ url }}public/js/jquery-ui.min.js"></script>
    <script src="{{ url }}public/js/jquery.mobile.custom.min.js"></script>
    <script src="{{ url }}public/js/bootstrap.js"></script>
    <script src="{{ url }}public/js/sort.js"></script>

    <script src="{{ url }}public/js/device/mobile.js"></script>
    <script src="{{ url }}public/js/device/tablet.js"></script>

    <script src="{{ url }}public/js/plugins/jquery.autosize.min.js"></script>

    <script src="{{ url }}public/js/hover.js"></script>

    <script>
        $(document).ready(function () {
            /*
             document.getElementById("left_vertical_menu").addEventListener("touchmove", function(event) {
             event.stopPropagation();
             $
             });
             */
            /*
             $("#left_vertical_menu").hover(function() {
             $("body").css("overflow", "hidden");
             });
             $("#content").hover(function() {
             $("#left_vertical_menu").css("overflow", "hidden");
             });
             */


            // Разрешение экрана
            // var x = screen.width;
            // Берем для теста разрешение клиентской части окна браузера
            //var width = screen.width;
            var width = $(window).width();
            var new_width = null;

            if (width <= 650) {
                mobile();
                toggle = 2;
            }
            // Прослушка события смены ориентации
            window.addEventListener("orientationchange", function () {
                // Выводим числовое значение ориентации
                toggle = 2;
            }, false);
            $(window).resize(function () {
                $("#button_menu").css("left", "10px");
                $("#left_vertical_menu").css("display", "none");
                //new_width = screen.width;
                new_width = $(window).width();

                if (new_width <= 650) {
                    //alert("mobile");
                    mobile();
                }
                else {
                    tablet();
                }
            });
        });
    </script>

</head>
<body>
<div id="main">
<div id="button_menu">
    <i class="glyphicon glyphicon-align-justify"></i>
</div>

<div id="header">
    <div id="logo">
        <div style="">
            <img src="{{ url }}public/img/logo.png" style="width: 100%;">
        </div>
    </div>
    <div id="header_menu">
        <div id="hor_menu">

            <div>
                <a id="sort_time">
                    <i class="glyphicon glyphicon-time" style=""></i>
                    <span class="link_hide">{{ lang.sort.time }}</span>
                </a>
            </div>
            <div>
                <a id="sort_star">
                    <i class="glyphicon glyphicon-star"></i>
                    <span class="link_hide">{{ lang.sort.mark_star }}</span>
                </a>
            </div>
            <div>
                <a id="sort_comment">
                    <i class="glyphicon glyphicon-comment"></i>
                    <span class="link_hide">{{ lang.sort.count_comment }}</span>
                </a>
            </div>

        </div>
        <div id="tool">
            <div style="float: left;"><i class="glyphicon glyphicon-search" style="float: left;"></i></div>
            <div style=" float: right;"><a href="{{ url }}logout"><i class="glyphicon glyphicon-exclamation-sign" style="float: right;"></i></a></div>
        </div>
    </div>
</div>
<div id="div_sort_menu_mobile"></div>
<div id="left_vertical_menu">
    <div id="admin">
        <div>
            <span>{{ user.name ~ ' ' ~ user.surname }}</span><br>
            <span>{{ lang.admin.title }}</span>
        </div>
    </div>
    <div id="list">
        {% block menu %}
        <ul>
            <li><a href="{{ url }}main/topics"><span> <i
                                class="glyphicon glyphicon-facetime-video"></i> &nbsp;{{ lang.all_topics }}</span></a></li>
            <li><a href="{{ url }}main/mytopics"><span> <i class="glyphicon glyphicon-book"></i> &nbsp;{{ lang.my_topics }}</span></a>
            </li>
            <li><a href="{{ url }}main/shared"><span> <i
                                class="glyphicon glyphicon-bookmark"></i> &nbsp;{{ lang.admin_topics }}</span></a></li>
        </ul>
        {% endblock %}
    </div>
</div>

<div id="content">
<div id="button">
    <a href="{{ url }}main/createTopic">
        <img src="{{ url }}public/img/button.png" style="cursor: pointer; height: 60px;">
    </a>
</div>

<div id="div_discussion" style="width: 100%; display: inline-block; margin: 0 auto; text-align: center;">
{% block content %}
{% endblock %}
</div>
</div>
</div>

</body>
<script>
    $(document).ready(function () {
        $(".div_discussion_product").on("tap", function () {
            $(this).next().slideToggle();
        });

        $('textarea').autosize();
        $(".comment").css("height", "28px");
    });
</script>
</html>