{% extends "main.html.twig" %}
{% block menu %}
    <ul>
        <li><a class="menu-active" href="{{ url }}"><span style="color: white;"> <i
                            class="glyphicon glyphicon-facetime-video"></i> &nbsp;Fikir Kutusu</span></a></li>
        <li><a href="{{ url }}main/mytopics"><span> <i class="glyphicon glyphicon-book"></i> &nbsp;Fikir lerim</span></a>
        </li>
        <li><a href="{{ url }}main/shared"><span> <i
                            class="glyphicon glyphicon-bookmark"></i> &nbsp;Pey Lasimral</span></a></li>
    </ul>
{% endblock %}
{% block content %}
    {% for topic in topics %}
        <div class="discussion_product" data-id-discussion="{{ topic.id }}">
            <div class="div_discussion_product">
                <div class="info_discussion">
                    <div class="name_discussion">
                        <span>{{ topic.title }}</span>
                    </div>
                    <div class="author_discussion">
                        <span>{{ topic.creator.name ~ ' ' ~ topic.creator.surname }}</span>
                    </div>
                </div>
                <div class="mark_discussion">
                    <div class="last_comment" data-time-create-discussion="1">
                        <span>{{ topic.timeAgo }}</span>
                    </div>
                    <div class="mark_star" data-star-discussion="3">
                    <span>
                           {% for i in range(1, topic.mark) if i > 0 %}
                               {% if i is even %}
                                   <i class="fa fa-star"></i>
                            {% elseif i == topic.mark %}
                                   <i class="fa fa-star-half"></i>
                               {% endif %}
                           {% endfor %}
                    </span>
                    </div>
                    <div class="count_comment" data-count-comment="1">
                    <span>
                          <i class="glyphicon glyphicon-comment" style="font-size: 14px; margin-right: 10px;"></i>
                          <div style="display: inline-block; float: right; margin-right: 10px;">
                              {{ topic.commentsCount }}
                          </div>
                    </span>
                    </div>
                </div>
            </div>
            <div style="width: 100%; display: none;">
                <div class="description">
                    <p>
                        {{ topic.message }}
                    </p>
                </div>
                <div class="div_img">
                    {%  if  topic.linkType == 1 and topic.fileType|length > 0 %}
                        <div>
                            <video class="video-js vjs-default-skin"
                                   controls="controls" preload="auto">
                                <source src="{{ topic.picture }}" type="{{ topic.fileType }}" />
                            </video>
                        </div>
                    {% elseif topic.linkType == 1 %}
                        <div class="topics-embed embed-responsive embed-responsive-16by9">
                            <iframe autoplay="false" class="embed-responsive-item"
                                    src="{{ topic.picture }}" ></iframe>


                        </div>
                    {% elseif topic.linkType == 2 %}
                        <div class="topics-embed">
                            <img style="margin: 15px 0 15px 0;  max-height: 100%; max-width: 100%;" src="{{ topic.picture }}" />
                        </div>
                    {% endif %}
                    <!--
                    <img src="{{ url }}public/img/product.jpg"
                         style="margin: 15px 0 15px 0;  max-height: 100%; max-width: 100%;">
                         -->
                </div>
                <div class="evaluate">
                    <span>Puan ver</span>
                  <span class="evaluate_star">
                           <i class="glyphicon glyphicon-star" mark="2" ></i>
                           <i class="glyphicon glyphicon-star" mark="4"></i>
                           <i class="glyphicon glyphicon-star" mark="6"></i>
                           <i class="glyphicon glyphicon-star" mark="8"></i>
                           <i class="glyphicon glyphicon-star" mark="10"></i>
                  </span>
                </div>
                <br>
                <table class="table">
                    {% for comment in topic.comments %}
                    <tr>
                        <td class="author_comment">
                            <span>{{ comment.creator.name ~ ' ' ~ comment.creator.surname }}</span>
                        </td>
                        <td class="comment">
                          <span>
                              {{ comment.comment }}
                          </span>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="add_comment" colspan="2">

                            <form onsubmit="return false;">
                                <textarea style="float: left;" name="comment" class="comment"
                                          placeholder="Yorum Yap..."></textarea>
                                <input type="button" value="Devam" class="send">
                            </form>

                        </td>
                    </tr>
                </table>
            </div>
        </div>

    {% endfor %}

    <script src="{{ url }}public/js/main/topic.js"></script>

{% endblock %}
